@model IEnumerable<Tienda_Bazar.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1 class="mt-5">Gestion de Productos</h1>


<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="button"><a style="color:white; text-decoration:none" asp-action="Create">Crear nuevo Producto</a></button>
</div>
<br />

<div class="card mb-4 bg-dark text-white">
    <div class="card-header bg-dark text-white">
        <i class="fas fa-table me-1"></i>
        <p>
            Productos Registrados
        </p>
    </div>
    <br />

    <div class="card-body bg-dark p-0">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProducto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisponibilidadInventario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ImagenesProductos.FirstOrDefault().Imagen)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreProducto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisponibilidadInventario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @if (item.ImagenesProductos != null && item.ImagenesProductos.Any())
                            {
                                foreach (var imagen in item.ImagenesProductos) 
                                { 
                                    <img src="data:image;base64,@Convert.ToBase64String(imagen.Imagen)" alt="Producto" style="width: 100px; height: auto; margin-right: 10px;" />
                                }
                            } <!-- En otras palabras, por cada imagen... -->
                        </td>
                        <td>
                            <button class="btn btn-warning" type="submit">
                                <a asp-action="Edit" asp-route-id="@item.CodigoProducto" style="color:white; text-decoration:none">Editar</a> 
                            </button>
                            |
                            <button class="btn btn-primary" type="submit">
                                <a asp-action="Details" asp-route-id="@item.CodigoProducto" style="color:white; text-decoration:none">Details</a>
                            </button>
                            |
                            <button class="btn btn-danger" type="submit">
                                <a asp-action="Delete" asp-route-id="@item.CodigoProducto" style="color:white; text-decoration:none">Delete</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




